<div class="container">
    <div class="row">
        <div class="col-md-6" style="cursor: pointer;">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="{{movies[0].imagePath}}" >
              <div class="card-body">
                <p class="card-text"></p>
                <p class="card-text">Rate: <i class="fa fa-plus" aria-hidden="true" style="color: green;">  </i>, <i class="fas fa-minus" style="color: red;">  </i></p>
                <p class="card-text">Type: </p>
                <!-- <p class="card-text" *ngFor="let likerate of Likerates">Rates: {{likerate}}, -60</p> -->
              </div>
            </div>
          </div>

          <div class="col-md-4" style="cursor: pointer;">
            <div class="card" style="width: 20rem;">
              <!-- <img class="card-img-top" src="" > -->
              <div class="card-body">
                <p class="card-text">Comments</p>
                <!-- <p class="card-text">Rate: <i class="fa fa-plus" aria-hidden="true" style="color: green;"> 88 </i>, <i class="fas fa-minus" style="color: red;"> 99 </i></p>
                <p class="card-text">Type:  </p> -->
                <!-- <p class="card-text" *ngFor="let likerate of Likerates">Rates: {{likerate}}, -60</p> -->
              </div>
            </div>
         </div>

         <!-- <div class="col-md-2">
            <form class="d-flex">
                <button class="btn btn-success p-2" type="submit"> <i class="fa fa-plus" aria-hidden="true">Add Movie Part</i></button>
            </form>
        </div> -->
       </div>
    <hr>
    <div>
        <br>
        <app-movieParts></app-movieParts>
    </div>
</div>
