<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<div class="container d-flex justify-content-center bg-light" style="width: 25%">
    <div class="row">
        <div class="col md-6">
            <form (ngSubmit)="onMovieAdded($event)">
                <div class="row">
                    <div class="col sm-6 form-group">
                        <label for="name">Name Of Movie:</label>
                        <input  type="text" [(ngModel)]="name" id="name" name="tala" class="form-control" placeholder="ex: Spider Man" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col sm-6 form-group">
                        <label for="rate">Rating:</label>
                        <span>
                            <h6>+</h6>
                        </span><input type="number" name="like" [(ngModel)]="likeRate" id="rate" placeholder=0 class="form-control">
                        <span>
                            <h6>-</h6>
                        </span><input type="number" name="dislike" [(ngModel)]="dislikeRate" id="rate" placeholder=0 class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="type">Type:</label>
                        <input type="text" id="type" name="type" [(ngModel)]="type" class="form-control" placeholder="ex: comedy">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6 ">
                        <button class="btn btn-success" type="submit">Add</button>
                    </div>
                    <div class="col-sm-6 ">
                        <button class="btn btn-primary" type="button">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>