<div class="container">
  <div class="row p-2">
   <button class="btn btn-success" type="submit" (click)="canAddMovie()"><i class="fa fa-plus">Add Movie</i></button>
  </div>
   <div class="row p-2">
   <app-moviesEdit *ngIf ="addMovie" (movieAdded)="onMovieAdded($event)"></app-moviesEdit>
  </div>
  <div class="row p-2">
    <div class="col-md-3 p-2" style="cursor: pointer;" *ngFor="let movie of movies">
      <div class="card" style="width: 18rem;">
        <a routerLink="/details"><img class="card-img-top img-fluid" src="{{ movie.imagePath }}" ></a>
        <div class="card-body">
          <p class="card-text ">{{movie.name}}</p>
          <p class="card-text">Rate: <i class="fa fa-plus" aria-hidden="true" style="color: green;"> {{ movie.likeRate }} </i>, <i class="fas fa-minus" style="color: red;"> {{ movie.dislikeRate }} </i></p>
          <p class="card-text">Type: {{ movie.type }} </p>
          <!-- <p class="card-text" *ngFor="let likerate of Likerates">Rates: {{likerate}}, -60</p> -->
        </div>
      </div>
    </div>
  </div>
<!-- <app-moviesEdit *ngIf ="movieAdd"></app-moviesEdit> -->

  <!-- <app-moviesEdit *ngIf (movieAdded)="onMovieAdded($event)"></app-moviesEdit> -->
</div>
<!-- <div class="row">
  <div class="col">
  <app-movieParts></app-movieParts>
</div>
</div> -->