<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<div class="container d-flex justify-content-center bg-light" style="width: 25%" >
<div class="row">
    <div class="col md-6">
        <form (ngSubmit)="onMoviePartAdded($event)">
            <div class="row">
                <div class="col sm-6 form-group">
                    <label for="name">Name Of Movie Part:</label>
                    <input  type="text" id="name" class="form-control" placeholder="ex: Spider Man">
                </div>
            </div>
            <div class="row">
                <div class="col sm-6 form-group">
                    <label for="rate">Rating:</label>
                    <span><h6>+</h6></span><input type="number" id="rate" placeholder=0 class="form-control">
                    <span><h6>-</h6></span><input type="number" id="rate" placeholder=0 class="form-control">
                </div>     
            </div>

            <div class="row">
                <div class="col">
                    <label for="partNo">Number of Part:</label>
                    <input type="number" id="partNo" class="form-control" placeholder="2">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button class="btn btn-success" type="submit">Add</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
