<div class="row">
    <div class="col-md-10">
    <h3>Movie Parts:</h3>
    </div>

    <div class="col-md-2">
        <form class="d-flex">
            <button class="btn btn-success p-2" type="submit" (click)="moviePartAdded()"><i class="fa fa-plus" aria-hidden="true">Add Movie Part</i></button>
        </form>
    </div>
</div>
<div class="row">
  <div class="col">
    <app-moviePartsEdit *ngIf="moviePartAdd" (moviePartAdded)="onMoviePartAdded($event)"></app-moviePartsEdit>
  </div>
</div>

  <div class="row p-2">
    <div class="col-md-3 p-2" style="cursor: pointer;" *ngFor="let moviePart of movieParts">
      <div class="card" style="width: 20rem;">
        <a routerLink="/details"><img class="card-img-top" src="{{ moviePart.imagePath }}" ></a>
        <div class="card-body">
          <p class="card-text">{{moviePart.name}}</p>
          <p class="card-text">Rate: <i class="fa fa-plus" aria-hidden="true" style="color: green;"> {{ moviePart.likeRate }} </i>, <i class="fas fa-minus" style="color: red;"> {{ moviePart.dislikeRate }} </i></p>
          <p class="card-text">Part # {{ moviePart.partNumber }} </p>
        </div>
      </div>
    </div>
  </div>

